.image{
    background-image: url("pdfma6-pdfamouspainting095001c-image.jpg"); 
    background-color: #cccccc; 
    height: 850px; 
    background-position: bottom; 
        background-repeat: no-repeat; 
    background-size: 2000px,1000px; 
  }
